<!DOCTYPE html>
<html lang="{{ or site.LanguageCode "en" }}">
  {{ partial "head.html" . }}

  <body class="bg-gray-100 font-sans leading-normal tracking-normal">
    {{ partial "header.html" . }}

    <main up-main class="prose prose-neutral container w-full min-h-[calc(100%-9rem)] max-w-3xl mx-auto pt-12">
      {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}

    <script>
      //Javascript to toggle the menu
      document.getElementById('nav-toggle').onclick = function() {
        document.getElementById("nav-content").classList.toggle("hidden");
      }
    </script>
  </body>
</html>
